<div class="main-signup">
    <div class="container">
        <div class="signup-top">
            <h2>新規登録</h2>
        </div>
        <div class="userinfo-container">
            <div class="nickname-container">
                <p>ニックネーム<span class="necessary-logo">必須</span></p>
                <input class="input-form">
            </div>
            <div class="mailaddress-container">
                <p>メールアドレス<span class="necessary-logo">必須</span></p>
                <input class="input-form">
            </div>
            <div class="password-container">
                <p>パスワード（8文字以上の英数字）<span class="necessary-logo">必須</span></p>
                <input type ="password" class="input-form">
            </div>
        </div>
    </div>
</div>

