/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration:none;
}

li {
    list-style: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #F0F6DC;
}

.header-logo {
    float: left;
}

.header-logo a {
    display: block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: #F9C270;
    color: #fff;
    font-family: 'Bangers', cursive;
}

.header-menu {
    float: right;
}

.header-menu li {
    float: left;
}

.header-menu a {
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.signup {
    background-color: #F9C270;
    color: white;
}

.login {
    background-color: white;
    color:#FFBB00;
    border: 1px solid #F9C270;
}

.clear {
    clear: left;
}
