.signup-top {
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255,187,0,0.5);
    font-size: 30px;
}

.userinfo-container {
    width: 40%;
    margin: 0 auto 20px;
}

.userinfo-inputform p {
    font-size: 18px;
}

.necessary-logo {
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    font-size: 10px;
    background-color: red;
    border-radius: 2px;
    color: white;
    vertical-align: middle;
}

.nickname-container {
    margin-top: 20px;
}

.mailaddress-container {
    margin-top: 20px;
}

.password-container {
    margin-top: 20px;
}

.input-form {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}